
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="img/armas.png" class="card-img-top" alt="Logo armas">
      <div class="card-body">
        <h5 class="card-title">ALERTA DECOMISO ARMAMENTO</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="img/logotipo-migracion-rd.jpg.webp" class="card-img-top" alt="Logo de migracion">
      <div class="card-body">
        <h5 class="card-title">ALERTA REGISTRO MIGRATORIO </h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <a href="http://localhost:4000/api/v1/decomisoMercancias"><img src="img/contrabando-3012023.jpg" class="card-img-top" alt="Imagen agentes DNCD"></a>
      <div class="card-body">
        <h5 class="card-title">ALERTA DECOMISO MERCANCIAS</h5>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
    </div>
  </div>
</div>
